 *{
    margin: 0;
    padding: 0;
}

.site-header {
    height: 770px;
    background-image: url(./img/123.jpg);
    padding-top: 40px;
    color: #3b0666;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-link{
    display: inline-block;
    vertical-align: bottom;
}

.site-logo{}

.site-nav {

display: inline-block;
margin-bottom: 0px;
}

.container {
    width: 1140;
    margin: 0 auto;
}

.navigation-list {
    display: inline-block;
    width: 1320px;
    text-decoration: none;
    text-align: right;
}

.navigation-list__item {
    display: inline;
    margin-right: 25px;
}

.navigation-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 24px;
}

.header-content {
    text-align: center;
}

body {
    background-color: rgb(57, 13, 107);
}